<!DOCTYPE html>
<html lang="en">
  <head>    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
    <% include ../partials/event-header.ejs%>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MicroE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/new-event">New Event</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="content">
      <h1><%= event.title %></h1>
      <p><strong>Location:</strong> <%= event.location%></p>
      <p><strong>Time:</strong> <%= event.time %></p>
      <p><%= event.detail %></p>
      <img id="img_elem" draggable="false" src="http://api.qrserver.com/v1/create-qr-code/?data=http://microe.herokuapp.com/event/<%= event.id%>&size=100x100" width="149" height="149" class="loaded" style="left: 657.5px; top: 55px;">
    </div><!-- /.container -->
    <% include ../partials/foot.ejs%>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script type="text/javascript">
      // 开始配置微信JS-SDK
      wx.config({
          debug: true,
          appId: <%= wechatData.appId%>,
          timestamp: <%= wechatData.timestamp%>,
          nonceStr: <%= wechatData.nonceStr%>,
          signature: <%= wechatData.signature%>,
          jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'chooseImage'
          ]
      });

      // 调用微信API
      wx.ready(function() {
          var sdata = {
            title: '<%= event.title%>',
            desc: '<%= event.detail%>',
            link: 'http://microe.herokuapp.com/event/<%= event.id%>',
            //imgUrl: 'http://game.4gshu.com/xuangedan/other-project/2015-01-06/img/share-wx-logo.jpg',
            success: function() {
                alert('用户确认分享后执行的回调函数');
            },
            cancel: function() {
                alert('用户取消分享后执行的回调函数');
            }
        };
        wx.onMenuShareTimeline(sdata);
        wx.onMenuShareAppMessage(sdata);
      });
  </script>
  </body>
</html>